* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main, .content-area { 
  flex: 1; 
}